@viewport{
    zoom: 1.0;
    width: device-width;
}
/*from http://webdesign.tutsplus.com/tutorials/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972*/

p {
    font-family: "Josefin Sans", Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
}

.slide {
    background-color: #051129;
    height: 600px;
}

/*SLIDE 1*/

#slide1 {
    background: url(/static/project2/img/slide1.gif);
    background-size: cover;
    background-position: center;
    max-width: 1366px;
    height: 600px;
    text-align: center;
}

#slide1-text {
    position:absolute;
    bottom: .5em;
    left: 10%;
    right: 10%;
    font-size: 5em;
}

/*SLIDE 2*/

#slide2-img {
    position: absolute;
    left: 9%;
}

#slide2-text {
    position: absolute;
    left: 50%;
    right: 7%;
    top: 10%;
    font-size:2.5em;
}

@media (max-width:960px) {
    #slide2-text {
        left: 9%;
        top: 70%;
        font-size: 1.5em;
    }
    #slide2-img {
        height: 60%;
        width: auto;
        left: 30%;
        top: 5%;
    }
}

@media (max-width:520px) {
    #slide2-text {
        top: 58%;
    }
    #slide2-img {
        height: 60%;
        width: auto;
        left: 15%;
    }
}

/*SLIDE 3*/

#slide3-img {
    position: absolute;
    left: 2%;
}

#slide3-text {
    position: absolute;
    left: 50%;
    right: 7%;
    top: 10%;
    font-size:2.5em;
}

@media (max-width:960px) {
    #slide3-text {
        left: 9%;
        top: 70%;
        font-size: 1.5em;
    }
    #slide3-img {
        height: 60%;
        width: auto;
        left: 25%;
        top: 2%;
    }
}

@media (max-width:520px) {
    #slide3-text {
        top: 60%;
    }
    #slide3-img {
        height: auto;
        width: 100%;
        left: 0%;
    }
}

/*SLIDE 4*/
#slide4-img {
    position: absolute;
    left: 0%;
}

#slide4-text {
    position: absolute;
    left: 50%;
    right: 7%;
    top: 10%;
    font-size:2.5em;
}

@media (max-width:960px) {
    #slide4-text {
        left: 9%;
        top: 60%;
        font-size: 1.5em;
    }
    #slide4-img {
        height: 60%;
        width: auto;
        left: 0%;
    }
}

@media (max-width:520px) {
    #slide4-text {
        top: 50%;
    }
    #slide4-img {
        height: 45%;
        width: auto;
        left: 0%;
    }
}

/*SLIDE 5*/
#slide5 {
    background: url(/static/project2/img/slide5.gif);
    background-size: cover;
    background-position: center;
    max-width: 1366px;
    height: 600px;
    text-align: center;
}

#slide5-img-1 {
    float: left;
    height: 600px;
}

#slide5-img-2 {
    float: right;
    height: 600px;
}


#slide5-text {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 26%;
    font-size: 2em;
}


@media (max-width: 835px) {
    #slide5-text {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    #slide5-img-1 {
        position: absolute;
        left: -55px;
        clip: rect(0px,200px,600px,55px);
    }
    #slide5-img-2 {
        position: absolute;
        right: -55px;
        clip: rect(0px,200px,600px,55px);
    }
    #slide5-text {
        font-size: 1.25em;
        top: 20%;
    }
}

/*SLIDE 6*/

#pep-container {
  width: 100px;
  height: 445px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
}

.pep {
    background: url(/static/project2/img/rock.png) no-repeat;
  height: 100px;
  width: 100px;
}

.definitions {
    position: absolute;
    font-size: 1.25em;
}

#meteoroid {
    top: 150px;
    right: 60%;
    left: 50px;
}

#meteor {
    top: 300px;
    right: 50px;
    left: 60%;
    visibility: hidden;
}

#meteorite {
    top: 370px;
    right: 60%;
    left: 50px;
    visibility: hidden;
}

#earth {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 315px;
    position: absolute;
    width: 420px;
}

#mmm {
    font-size: 2em;
    text-align: center;
    top: 15px;
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#mmm-sub {
    font-size:1.5em;
    text-align: center;
    top: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 693px) {
    #pep-container {
        height: 430px;
    }
}

@media (max-width: 480px) {
    .definitions {
        font-size: 1em;
    }
}

@media (max-width: 437px) {
    #pep-container {
        height: 400px;
    }
    #earth {
        top: 348px;
    }
}

/*QUIZ*/

h3 {
    color: #000;
    font-family: "Josefin Sans", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    margin-top: 15px;
    margin-bottom: 15px;
}

#quiz-title {
    text-align: center;
    font-size: 2em;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
}

#quiz {
    overflow-y: scroll;
    height: 495px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#quiz-title-sub {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

/*Mother Jones News Quiz styling*/

.possible_answer  {
    padding: .75em;
    font-weight: 600;
    background-color: #636363;
    border-radius: 5px;
    width: 90%;
}

.possible_answer:hover {
	background: #517693;
	cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.correct-answer, .wrong-answer {
	opacity: .75;
	cursor: pointer;
        border-radius: 5px;
}

.wrong-answer {
	background: #FF8362;	
}

.correct-answer {
    background: #62DA97;
}

.selected {
    opacity: 1;
}

.selected:hover, .correct-answer:hover, .wrong-answer:hover {
	opacity: 1;
}

.how_you_did {
	text-align: center;
	padding: 1em;
	background-color: #3A5894;
        border-radius: 10px;
	font-weight: bold;
	font-size: 1.25em;
	-webkit-box-shadow: 0px 7px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 7px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 7px 5px rgba(50, 50, 50, 0.65);
        width: 90%;
}

.question {
    border: 6px solid #3A5894;
    border-radius: 50px;
    padding: 10px 20px 10px;
    background-color: #fff;
    color: #000;
    padding-left: 40px;
}

/*multimedia styling*/

.possible_answer img {
	max-height: 24em;
}

.question img, .revealed_answer img, .selected img, .correct-answer img, .wrong-answer img {
    max-height: 24em;
    display: block;
}

.videoembed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videoembed iframe, .videoembed object, .videoembed embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.question > p {
    color: #000000;
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 15px;
    margin-top: 10px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

@media (max-width: 420px) {
    .possible_answer {
        width: 70%;
    }
    
    .how_you_did {
        width: 80%;
    }
}
/*http://cssdeck.com/labs/css3-webkit-vertical-scrollbars//*/

/*SLIDE 8*/

#calendar {
    margin-left: 10px;
    margin-top: 15px;
}

#calendar-box {
    border-radius: 40px;
    border: 4px solid #3A5894;
    background-color: #fff;
    height: 430px;
    width: 320px;
    margin-left: 7%;
    position: absolute;
    top: 20px;
}

#credits {
    position: absolute;
    left: 50%;
    right: 7%;
    top: 10%;
    font-size:2.5em;
}

#sources {
    position: absolute;
    left: 50%;
    right: 7%;
    top: 25%;
    font-size:2em;
}

@media (max-width:860px) {
    #credits {
        left: 9%;
        top: 75%;
        font-size: 1.5em;
    }
    #sources {
        left: 9%;
        top: 82%;
        font-size: 1em;
    }
}

@media (max-width:520px) {
    #credits {
        left: 9%;
        top: 77%;
        font-size: 1.2em;
    }
    #sources {
        left: 9%;
        top: 83%;
        font-size: 1em;
    }
}
